{%extends 'index.html'%} {% load static %} {% block content %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card" style="height: 280px">
        <a href="/app/Trainers_Calendar" style="text-decoration: none">
          <div class="card-body">
            <h1
              class="card-title text-center "
              style="margin-top: 50px"
            >
              &nbsp;&nbsp;&nbsp;Trainers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i
                class="mdi mdi-pencil-box-outline text-warning"
                style="font-size: 70px"
              ></i>
            </h1>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
      <div class="card" style="height: 280px">
        <a
          href="/app/Trainees_Calendar"
          style="text-decoration:none;style="
          text-decoration:none;
        >
          <div class="card-body">
            <h1
              class="card-title text-center"
              style="margin-top: 50px"
            >
              &nbsp;&nbsp;&nbsp;Trainees&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <i
                class="mdi mdi-account-group text-warning"
                style="font-size: 70px"
              ></i>
            </h1>
          </div>
        </a>
      </div>
    </div>
  </div>
  {%endblock%}
</div>
